@import '../../styles/variable.scss';

.card {
  // width: calc((100% - 20px) / 4);
  padding: 20px;
  box-shadow: $box-shadow-card;
  position: relative;
  height: 596px;
  flex-shrink: 0;
  transition: all 0.15s ease-in-out;

  &:hover {
    -webkit-box-shadow: $box-shadow-card-hover;
    -moz-box-shadow: $box-shadow-card-hover;
    box-shadow: $box-shadow-card-hover;
  }
}

.info > * {
  margin-bottom: 20px;
}

.category {
  margin-bottom: 10px;
  font-size: $font-size-16;
  font-weight: $font-medium;
  color: $text-gray;
  line-height: 130%;
}

.title {
  height: 78px;
  color: $text-main;
  font-size: $font-size-20;
  font-weight: $font-regular;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.feedback {
  display: flex;
  column-gap: 10px;
}

.rate {
  :only-child {
    cursor: pointer;
  }
}

.rewiew {
  cursor: pointer;
  span {
    height: 24px;
    display: inline-block;
    font-size: $font-size-16;
    line-height: 130%;
    font-weight: $font-medium;
    color: $text-main;
  }
}

.info_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price_wrapper {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: end;

  > span {
    display: inline-block;
  }
}

.price {
  font-size: $font-size-24;
  font-weight: $font-bold;
  line-height: 130%;
  color: $text-main;

  &_sale {
    font-size: $font-size-16;
    font-weight: $font-bold;
    line-height: 130%;
    text-decoration: line-through;
    color: $text-gray;
  }
}

.sale {
  padding: 3px 5px;
  background-color: $background-orange;
  border-radius: 14px;

  :first-child {
    background-color: $background-white;
    padding: 0 4px;
    color: $text-main;
    font-size: $font-size-14;
    font-weight: $font-regular;
    border-radius: 23px;
    margin-right: 5px;
  }

  :last-child {
    color: $text-white;
    font-size: $font-size-14;
    font-weight: $font-bold;
    line-height: 130%;
  }
}

.button_action {
  display: flex;
  column-gap: 10px;
}

.buttons {
  display: flex;
  column-gap: 10px;

  > a {
    line-height: 160%;
  }

  :last-child {
    flex-shrink: 0;
  }
}
