@import '../../styles/variable.scss';

.tag {
  color: #fff;
  text-align: center;
  font-weight: $font-medium;
  font-size: 16px;
  padding: 5px 16px;
  border-radius: 4px;
  display: inline-block;
  align-self: self-end;
}
