@import '../../styles/variable.scss';

.profile {
}

.breadcrumb {
  margin-bottom: 30px;
}

.content {
  margin-top: 30px;
  display: flex;
  column-gap: 135px;

  :first-child {
    align-self: flex-start;
  }
}

// Basic Information

.basic_information {
  max-width: 535px;
}

.user {
  display: flex;
  column-gap: 30px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  > * {
    font-size: 17px;
    color: $text-main;
  }
}

.manual {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  color: $text-main;
  margin-bottom: 20px;
}

// Personal Data

.personalData {
  height: 440px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

// History Orders

.orders {
  padding: 50px;
  border-radius: 8px;
  border: 1px solid $card-border;
  width: 100%;
  h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid $divider;
  }
}

.item {
  padding: 20px 0px;
  border-bottom: 1px solid $divider;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info_order {
  display: flex;
  column-gap: 80px;

  font-size: $font-size-16;
  font-weight: $font-regular;
  line-height: 130%;

  &_left {
    :first-child {
      color: $text-main;
    }

    :last-child {
      color: $text-gray;
    }
  }

  &_right {
  }
}

.icon {
  line-height: 0;
  transition: all 0.15s linear;
  cursor: pointer;
  svg {
    width: 13px;
    height: 8px;
    flex-shrink: 0;
  }
}

.icon.open {
  transform: rotate(180deg);
}

.details {
  opacity: 0;
  height: 0;
  transition: all 0.2s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.details.open {
  height: 100%;
  opacity: 1;
  pointer-events: all;
}

// Change Password

.password {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}
