// Color
$red: #f15152;
$green: #22a44e;
$dark-blue: #2a5275;
$light-blue: #edf2f6;
$menu-blue: #0e1821;
$blue: #4878a6;
$orange: #f37748;
$yellow: #fbb13c;
$white: #fff;

// Border
$card-border: #eaeaf0;
$divider: #c8cacb;
$border-red: $red;
$border-green: $green;
$border-blue: $blue;

// Color text
$text-main: #070c11;
$text-gray: #838688;
$text-geen: $green;
$text-red: $red;
$text-white: $white;
$text-blue: $blue;
$text-light-blue: $light-blue;
$text-dark-blue: $dark-blue;

// Background
$background-white: $white;
$background-red: $red;
$background-green: $green;
$background-orange: $orange;
$background-blue: $blue;
$background-dark-blue: $dark-blue;
$background-menu-blue: $menu-blue;
$background-light-blue: $light-blue;
$background-gray: $text-gray;
$background-null: #dae4ed;

// Font-Weight
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Font-Size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-36: 36px;
$font-size-48: 48px;

$box-shadow-card: 1px 0px 6px 0px rgba(42, 82, 117, 0.1);
$box-shadow-card-hover: 11px 11px 26px 1px rgba(42, 82, 117, 0.1);
