@import '../../styles/variable.scss';

.catalog .wrapper {
  display: flex;
  width: 100%;
  column-gap: 15px;
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.filter {
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: $background-light-blue;
  padding: 4px 10px 6px 10px;
  border-radius: 102px;
}

.filter_btn {
  width: 10px;
  height: 14px;
  line-height: 0;
}

.content {
  width: 100%;
  &_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.choose_filters {
  display: flex;
  column-gap: 20px;
}

.sort {
  border: 1px solid $card-border;
  border-radius: 4px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  width: 240px;

  &_title {
    font-size: 16px;
    color: $text-main;
    font-weight: 500;
    line-height: 130%;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
