@import '../../styles/variable.scss';

.slider {
  position: relative;
  width: 100%;
  margin-top: 40px;
  -webkit-box-shadow: $box-shadow-card-hover;
  -moz-box-shadow: $box-shadow-card-hover;
  box-shadow: $box-shadow-card-hover;
  transition: all 0.2s linear;
}

.indicators {
  display: flex;
  column-gap: 4px;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 8px;
}

.indicator {
  flex: 1 0 0;
  height: 5px;
  border-radius: 2px;
  opacity: 0.5;
  background-color: $divider;
  cursor: pointer;
}

.active_indicators {
  background-color: $background-blue;
}

.active_slide {
  opacity: 1;
}
